.button1times {
  color: green;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(5, 243, 5, 0.178);
  border: 0.5px solid green;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}
.button1times:hover {
  background-color: #fff;
  color: rgb(0, 170, 0);
}

.button2times {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background-color: rgba(214, 32, 32, 0.438);
  border: 0.5px solid rgba(255, 2, 2, 0.719);
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.button2times:hover {
  background-color: #fff;
  color: rgba(255, 2, 2, 0.719);
}
